{% if config.PIWIK_URL and config.PIWIK_ID %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  {% if g.error and g.error.code -%}
  _paq.push(['setDocumentTitle', '{{g.error.code}}/URL = ' +  encodeURIComponent(document.location.pathname+document.location.search) + '/From = ' + encodeURIComponent(document.referrer)]);
  {%- endif %}
  {% if current_user.is_authenticated %}
    _paq.push(['setUserId', '{{current_user.id}}']);
  {% endif %}
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{config.PIWIK_URL}}/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', {{config.PIWIK_ID}}]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();

  {% if config.PIWIK_GOALS %}
  var goals = {{config.PIWIK_GOALS|to_json|safe}};
  for (var goal in goals) {
    var value = goals[goal];
    uData.pubsub.subscribe(goal, function () {
      uData.log.debug('Tracking goal', goal, 'with value', value);
      _paq.push(['trackGoal', value]);
    });
  }
  {% endif %}

  {% if config.PIWIK_CONTENT_TRACKING == 'all' %}
    _paq.push(['trackAllContentImpressions']);
  {% elif config.PIWIK_CONTENT_TRACKING == 'visible' %}
    _paq.push(['trackVisibleContentImpressions']);
  {% endif  %}

</script>
<noscript><p><img src="http://{{config.PIWIK_URL}}/piwik.php?idsite={{config.PIWIK_ID}}" style="border:0;" alt="" /></p></noscript>
{% endif %}
