{% if config.PIWIK_URL and config.PIWIK_ID_FRONT %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  {% if g.error and g.error.code -%}
  _paq.push(['setDocumentTitle', '{{g.error.code}}/URL = ' +  encodeURIComponent(document.location.pathname+document.location.search) + '/From = ' + encodeURIComponent(document.referrer)]);
  {%- endif %}
  {% if current_user.is_authenticated %}
    _paq.push(['setUserId', '{{current_user.id}}']);
  {% endif %}
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{config.PIWIK_URL}}/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', {{config.PIWIK_ID_FRONT}}]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();

  {% if config.PIWIK_CONTENT_TRACKING == 'all' %}
  _paq.push(['trackAllContentImpressions']);
  {% elif config.PIWIK_CONTENT_TRACKING == 'visible' %}
  _paq.push(['trackVisibleContentImpressions']);
  {% endif %}

  {# We only enable search tracking on search pages with queries #}
  {% if request.endpoint == 'datasets.list' and request.args.q%}
  {# Global search is considered as datasets search #}
  _paq.push(['trackSiteSearch', '{{ request.args.q }}', 'datasets', {{ datasets.total|default(0) }}]);
  {% elif request.endpoint == 'reuses.list' and request.args.q %}
  _paq.push(['trackSiteSearch', '{{ request.args.q }}', 'reuses', {{ reuses.total|default(0) }}]);
  {% elif request.endpoint == 'organizations.list' and request.args.q %}
  _paq.push(['trackSiteSearch', '{{ request.args.q }}', 'organizations', {{ organizations.total|default(0) }}]);
  {% else %}
  _paq.push(['trackPageView']);
  {% endif %}


</script>
<noscript><p><img src="//{{config.PIWIK_URL}}/piwik.php?idsite={{config.PIWIK_ID_FRONT}}" style="border:0;" alt="" /></p></noscript>
{% endif %}
